.books-card-list {
	display: flex;
	flex-flow: row;
	width: 90%;
	margin: 0 auto;

	.bookCard {
		height: 20rem;
		width: 15rem;
		background-color: white;
		box-shadow: 0.1px 2px 3px 1px #cbc6c6;
		border-radius: 0.3rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin: 1rem 1rem 0rem 1rem;
		padding: 2rem;

		>img {
			max-width: 10rem;
			max-height: 10rem;
		}

		.book-card-description {
			font-family: sans-serif;
			color: rgb(65, 65, 65);
		}
	}
}